@import "tailwindcss";

@theme {
  --color-primary: #659FC8;
  --color-secondary: #8ABD95;
  --color-white: #fff;
  --color-tertiary: #121212;
  --color-quaternary: #697D30;

  --font-inter: "Inter", sans-serif;
  --font-roboto: var(--font-roboto);
  --font-montecarlo: var(--font-montecarlo);
}

@keyframes marquee {
  from { transform: translateX(100%); }
  to   { transform: translateX(-100%); }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 10s linear infinite;
}